/** Color */
$black: #000;
$white: #fff;

$alpha50: 0.04;
$alpha100: 0.06;
$alpha200: 0.08;
$alpha300: 0.16;
$alpha400: 0.24;
$alpha500: 0.36;
$alpha600: 0.48;
$alpha700: 0.64;
$alpha800: 0.8;
$alpha900: 0.9;

$white50: rgba($white, $alpha50);
$white100: rgba($white, $alpha100);
$white200: rgba($white, $alpha200);
$white300: rgba($white, $alpha300);
$white400: rgba($white, $alpha400);
$white500: rgba($white, $alpha500);
$white600: rgba($white, $alpha600);
$white700: rgba($white, $alpha700);
$white800: rgba($white, $alpha800);
$white900: rgba($white, $alpha900);

$black50: rgba($black, $alpha50);
$black100: rgba($black, $alpha100);
$black200: rgba($black, $alpha200);
$black300: rgba($black, $alpha300);
$black400: rgba($black, $alpha400);
$black500: rgba($black, $alpha500);
$black600: rgba($black, $alpha600);
$black700: rgba($black, $alpha700);
$black800: rgba($black, $alpha800);
$black900: rgba($black, $alpha900);

$gray50: #f7fafc;
$gray100: #edf2f7;
$gray200: #e2e8f0;
$gray300: #cbd5e0;
$gray400: #a0aec0;
$gray500: #718096;
$gray600: #4a5568;
$gray700: #2d3748;
$gray800: #1a202c;
$gray900: #171923;

$red50: #fff5f5;
$red100: #fed7d7;
$red200: #feb2b2;
$red300: #fc8181;
$red400: #f56565;
$red500: #e53e3e;
$red600: #c53030;
$red700: #9b2c2c;
$red800: #822727;
$red900: #63171b;

$orange50: #fffaf0;
$orange100: #feebcb;
$orange200: #fbd38d;
$orange300: #f6ad55;
$orange400: #ed8936;
$orange500: #dd6b20;
$orange600: #c05621;
$orange700: #9c4221;
$orange800: #7b341e;
$orange900: #652b19;

$yellow50: #fffff0;
$yellow100: #fefcbf;
$yellow200: #faf089;
$yellow300: #f6e05e;
$yellow400: #ecc94b;
$yellow500: #d69e2e;
$yellow600: #b7791f;
$yellow700: #975a16;
$yellow800: #744210;
$yellow900: #5f370e;

$green50: #f0fff4;
$green100: #c6f6d5;
$green200: #9ae6b4;
$green300: #68d391;
$green400: #48bb78;
$green500: #38a169;
$green600: #25855a;
$green700: #276749;
$green800: #22543d;
$green900: #1c4532;

$teal50: #e6fffa;
$teal100: #b2f5ea;
$teal200: #81e6d9;
$teal300: #4fd1c5;
$teal400: #38b2ac;
$teal500: #319795;
$teal600: #2c7a7b;
$teal700: #285e61;
$teal800: #234e52;
$teal900: #1d4044;

$blue50: #ebf8ff;
$blue100: #bee3f8;
$blue200: #90cdf4;
$blue300: #63b3ed;
$blue400: #4299e1;
$blue500: #3182ce;
$blue600: #2b6cb0;
$blue700: #2c5282;
$blue800: #2a4365;
$blue900: #1a365d;

$cyan50: #edfdfd;
$cyan100: #c4f1f9;
$cyan200: #9decf9;
$cyan300: #76e4f7;
$cyan400: #0bc5ea;
$cyan500: #00b5d8;
$cyan600: #00a3c4;
$cyan700: #0987a0;
$cyan800: #086f83;
$cyan900: #065666;

$purple50: #faf5ff;
$purple100: #e9d8fd;
$purple200: #d6bcfa;
$purple300: #b794f4;
$purple400: #9f7aea;
$purple500: #805ad5;
$purple600: #6b46c1;
$purple700: #553c9a;
$purple800: #44337a;
$purple900: #322659;

$pink50: #fff5f7;
$pink100: #fed7e2;
$pink200: #fbb6ce;
$pink300: #f687b3;
$pink400: #ed64a6;
$pink500: #d53f8c;
$pink600: #b83280;
$pink700: #97266d;
$pink800: #702459;
$pink900: #521b41;

// :export {
//   black0: $black;
//   white0: $white;
//   white50: $white50;
//   white100: $white100;
//   white200: $white200;
//   white300: $white300;
//   white400: $white400;
//   white500: $white500;
//   white600: $white600;
//   white700: $white700;
//   white800: $white800;
//   white900: $white900;

//   black50: $black50;
//   black100: $black100;
//   black200: $black200;
//   black300: $black300;
//   black400: $black400;
//   black500: $black500;
//   black600: $black600;
//   black700: $black700;
//   black800: $black800;
//   black900: $black900;

//   gray50: $gray50;
//   gray100: $gray100;
//   gray200: $gray200;
//   gray300: $gray300;
//   gray400: $gray400;
//   gray500: $gray500;
//   gray600: $gray600;
//   gray700: $gray700;
//   gray800: $gray800;
//   gray900: $gray900;

//   red50: $red50;
//   red100: $red100;
//   red200: $red200;
//   red300: $red300;
//   red400: $red400;
//   red500: $red500;
//   red600: $red600;
//   red700: $red700;
//   red800: $red800;
//   red900: $red900;

//   orange50: $orange50;
//   orange100: $orange100;
//   orange200: $orange200;
//   orange300: $orange300;
//   orange400: $orange400;
//   orange500: $orange500;
//   orange600: $orange600;
//   orange700: $orange700;
//   orange800: $orange800;
//   orange900: $orange900;

//   yellow50: $yellow50;
//   yellow100: $yellow100;
//   yellow200: $yellow200;
//   yellow300: $yellow300;
//   yellow400: $yellow400;
//   yellow500: $yellow500;
//   yellow600: $yellow600;
//   yellow700: $yellow700;
//   yellow800: $yellow800;
//   yellow900: $yellow900;

//   green50: $green50;
//   green100: $green100;
//   green200: $green200;
//   green300: $green300;
//   green400: $green400;
//   green500: $green500;
//   green600: $green600;
//   green700: $green700;
//   green800: $green800;
//   green900: $green900;

//   teal50: $teal50;
//   teal100: $teal100;
//   teal200: $teal200;
//   teal300: $teal300;
//   teal400: $teal400;
//   teal500: $teal500;
//   teal600: $teal600;
//   teal700: $teal700;
//   teal800: $teal800;
//   teal900: $teal900;

//   blue50: $blue50;
//   blue100: $blue100;
//   blue200: $blue200;
//   blue300: $blue300;
//   blue400: $blue400;
//   blue500: $blue500;
//   blue600: $blue600;
//   blue700: $blue700;
//   blue800: $blue800;
//   blue900: $blue900;

//   cyan50: $cyan50;
//   cyan100: $cyan100;
//   cyan200: $cyan200;
//   cyan300: $cyan300;
//   cyan400: $cyan400;
//   cyan500: $cyan500;
//   cyan600: $cyan600;
//   cyan700: $cyan700;
//   cyan800: $cyan800;
//   cyan900: $cyan900;

//   purple50: $purple50;
//   purple100: $purple100;
//   purple200: $purple200;
//   purple300: $purple300;
//   purple400: $purple400;
//   purple500: $purple500;
//   purple600: $purple600;
//   purple700: $purple700;
//   purple800: $purple800;
//   purple900: $purple900;

//   pink50: $pink50;
//   pink100: $pink100;
//   pink200: $pink200;
//   pink300: $pink300;
//   pink400: $pink400;
//   pink500: $pink500;
//   pink600: $pink600;
//   pink700: $pink700;
//   pink800: $pink800;
//   pink900: $pink900;
// }
